@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Conta Confirmada. Obrigado por se Cadastrar!";
}

<h3>@ViewData["Title"]</h3>

<br />

<a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Rertornar para Home.</a>

