@{
    ViewData["Title"] = "Home Page";
}

<div class="text-inicio text-center">
    <h3 class="display-4">Projeto K</h3>
    <br />
    <p>
        Aplicação para Cadastro de Produtos e Gestão de Estoque:<br />
        <hr />
    </p>
</div>

<div style="margin-left: 20px;">

    <h5>Páginas do Sistema:</h5>
    <ul>
        <li>Login</li>
        <li>Cadastro de Usuários</li>
        <li>Cadastro de Produtos</li>
        <li>Listagem de Produtos (Estoque)</li>
        <li>Movimentações - Entrada / Saída</li>
        <li>Visualização das movimentações realizadas</li>
    </ul>
    <br />
    <h5>Desenvolvimento:</h5>
    <ul>
        <li> A aplicação foi desenvolvida em C# e .Net Core 3.1, possui sistema de cadastro/autenticação - Framework Identity.</li>
    </ul>
    <br />
    <h5>Banco de Dados:</h5>
    <ul>
        <li> SQL Server</li>
    </ul>

    <h6><b>Cadastre-se para utilizar.</b></h6>
</div>