@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ ViewData["Title"] = "Home Page"; }

<div class="text-inicio text-center">
    <h3 class="display-4">Projeto K</h3>
    <br />
    <p>
        Aplicação para Cadastro de Produtos e Gestão de Estoque:<br />
        <hr />
    </p>
</div>

@if (!SignInManager.IsSignedIn(User))
{
<div class="text-center" style="padding-top:100px;">

    <h5><b> Cadastre-se ou faça Login para começar. </b></h5>
</div>
}